<div class="main-header">
  <div class="left-header">
    <div class="groupe-name">
      chat name
    </div>
  </div>
  <div class="right-header">  
    <div class="end-chat">
      <a href="#">チャットを終了する</a>
    </div>
  </div>    
</div>

<div class="messages">
  <div class="message-card">
    <div class="message-topic">
      <div class="message-name">
        Tom
      </div>
      <div class="message-date">
        2020/3/31(wed) 12:43:30
      </div>
    </div>
    <div class="message-text">
      おはよう
    </div>
  </div>
  <div class="message-card">
    <div class="message-topic">
      <div class="message-name">
        Tom
      </div>
      <div class="message-date">
        2020/3/31(wed) 12:43:30
      </div>
    </div>
    <div class="message-text">
      おはよう
    </div>
  </div>
</div>

<div class="form">
  <div class="form-input">
    <input type="text" placeholder="type a message" class="form-text">
    <label class="form-image">
      <span class="image-file">画像</span>
      <input type="file" class="hidden">
    </label>
  </div>
  <input type="submit" value="送信" class="form-button">
</div>